/* General: */


:root {
	
	--color-bg-empty: #EEEEEE;
	--color-bg-surface: #FCFCFC;
	--color-bg-surface-disabled: #F0F0F0;
	--color-bg-surface-hover: #DDDDDD;
	--color-bg-surface-active: #BBBBBB;
	
	--color-fg-regular: #454545;
	--color-fg-faint: #777777;
	
	--color-fg-topbar: #E0E0E0;
	--color-bg-topbar: #252525;
	
	--color-fg-primary: #FAFAFA;
	--color-bg-primary: #FF9900;
	--color-bg-primary-hover: #FFAA00;
	--color-bg-primary-active: #FFBB00;
	
	--color-fg-danger: #FAFAFA;
	--color-bg-danger: #DD0000;
	--color-bg-danger-hover: #EE0000;
	--color-bg-danger-active: #FF0000;
	
	
	box-sizing: border-box;
	line-height: 1.5;
	font-family: sans-serif;
}

* {
	padding: 0;
	margin: 0;
	
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	color: var(--color-fg-regular);
	background-color: var(--color-bg-empty);
	height: 100%;
	font-size: 18px;
}

#root {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	height: 100%;
}

#fake-root {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	height: 100%;
}

::selection {
	color: var(--color-fg-primary);
	background: var(--color-bg-primary-hover);
}



/*----------------------------------------------------------------------------*/

/* Text: */

h1.extra {
	font-size: 100px;
}

.center {
	text-align: center;
}

.unbold {
	font-weight: normal;
}

p {
	text-align: justify;
}

.text-primary {
	color: var(--color-bg-primary);
}

.align-left {
	text-align: left !important;
}

.align-right {
	text-align: right !important;
}

.align-center {
	text-align: center !important;
}

.align-justify {
	text-align: justify !important;
}


/*----------------------------------------------------------------------------*/

/* Containers: */


.width-container {
	margin: auto;
	margin-top: 12px;
	margin-bottom: 12px;
	max-width: 800px;
}

.container {
	color: var(--color-fg-regular);
	background-color: var(--color-bg-surface);
	
	padding: 16px;
	margin: auto;
	margin-top: 12px;
	margin-bottom: 12px;
	max-width: 800px;
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: stretch;
}

.width-container.wide, .container.wide {
	width: 100%;
}

.width-container.wide.m, .container.wide.m {
	max-width: 720px;
	width: 100%;
}

.width-container.wide.xl, .container.wide.xl {
	max-width: 1200px;
	width: 100%;
}

.graph-container {
	display: inline-block;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	
	background-color: var(--color-bg-surface);
}

.flex-down {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: stretch;
}

.flex-right {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: stretch;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-spacer {
	flex-grow: 1;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.grid-xl {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));
}

.grid.gaps, .grid-xl.gaps {
	grid-gap: 16px;
}

.grid.gaps32, .grid-xl.gaps32 {
	grid-gap: 32px;
}

.notif-btn {
	padding: 2px 8px;
	margin-left: 8px;
	height: 30px;
}

.small-btn-noborder {
	border: none;
}

.button.back-button {
	padding: 8px 12px;
	margin: 0px;
}

.modal-container {
	display: none;
	position: fixed;
	z-index: 10000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}

.modal-container.show {
	display: inherit;
}




/*----------------------------------------------------------------------------*/

/* Calendar: */

.calendar-layout {
	margin: auto;
	
	width: 100%;
	
	display: flex;
	flex-direction: column;
}

.cal-legend-box {
	height: 60px;
	width: 90px;
	display: inline-block;
	
	text-align: right;
	padding: 8px 12px;
	
}

.cal-main-area {
	flex-grow: 3;
}

.cal-main-panel {
	margin: 32px;
	padding: 16px;
	
	flex-grow: 3;
	
	background-color: var(--color-bg-surface);
}

.cal-side-panel {
	background-color: var(--color-bg-surface);
	
	margin: 32px;
	margin-top: 0px;
	padding: 16px;
	
	
	flex-grow: 3;
	
	overflow-y: visible;
}

.team-calendar-layout {
	margin: auto;
	
	width: 100%;
	
	display: flex;
	flex-direction: column;
	aalign-items: stretch;
}

.team-cal-main-panel {
	margin: 32px;
	padding: 16px;
	
	background-color: var(--color-bg-surface);
	flex-grow: 3;
}

.team-cal-side-panel {
	background-color: var(--color-bg-surface);
	
	margin: 32px;
	margin-top: 0px;
	padding: 16px;
	
	
	flex-grow: 3;
	
	overflow-y: visible;
}


@media (min-width:920px) {
	
	.calendar-layout {
		margin: 0;
		
		flex-direction: row;
		flex-wrap: nowrap;
		
		align-items: center;
		
		flex-grow: 1;
		
		display: flex;
		
		height: calc(100vh - 3.2rem - 2.2rem);
		
		overflow: hidden;
	}
	
	.cal-main-area {
		height: 100%;
		overflow-y: auto;
		
		display: flex;
		flex-direction: row;
	}
	
	.cal-main-panel {
		display: block;
	}
	
	.cal-main-panel-width {
		flex-grow: 100;
		max-width: 1300px;
	}
	
	.cal-side-panel {
		float: right;
		
		margin: 0px;
		
		width: 10vw;
		min-width: 360px;
		max-width: 600px;
		
		
		height: 100%;
		
		overflow-y: auto;
	}
	
	.scroll{
		padding-left: 2.5em;
		margin-left: 0px;
		
		overflow-y: auto;
		
		border: 2px solid #AAAAAA;
		
		min-height: 200px;
	}
}

@media (min-width:1300px) {
	
	.team-calendar-layout {
		margin: 0;
		
		flex-direction: row;
		flex-wrap: nowrap;
		
		align-items: center;
		
		flex-grow: 1;
		
		display: flex;
		
		height: calc(100vh - 3.2rem - 2.2rem);
		
		overflow: hidden;
	}
	
	.team-cal-main-panel {
		display: block;
		height: 90%;
		max-height: 550px;
		overflow-y: auto;
	}
	
	.team-cal-side-panel {
		float: right;
		
		margin: 0px;
		
		width: 10vw;
		min-width: 360px;
		max-width: 600px;
		
		
		height: 100%;
		
		overflow-y: auto;
	}
	
	.team-scroll{
		padding-left: 2.5em;
		margin-left: 0px;
		
		overflow-y: auto;
		
		border: 2px solid #AAAAAA;
		
		min-height: 200px;
	}
	
}

.rbc-day-bg-static {
	background-color: var(--color-bg-empty);
	margin: 8px;
}

.rbc-today-static {
	/*background-color: var(--color-bg-danger);*/
	outline-color: var(--color-bg-primary);
	outline-style: dashed;
	outline-width: thick;
}

.rbc-off-range-bg-static {
	color: var(--color-fg-primary);
	background-color: var(--color-fg-faint);
}

.selected-static {
	background-color: #F7F7F7;
	box-shadow: inset 0px 0px 0px 6px var(--color-bg-primary);
}

.not-empty-static {
	background-image: linear-gradient(55deg, var(--color-bg-primary) 49%, rgba(0, 0, 0, 0) 50%);
}



/*----------------------------------------------------------------------------*/

/* Header: */


header {
	position: fixed;
	height: 3.2rem;
	
	color: var(--color-fg-topbar);
	background-color: var(--color-bg-topbar);
	width: 100%;
	
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: wrap;
	
	z-index: 100;
}

header a.button {
	padding: 10px 16px;
	font-size: 18px;
}

.header-margin {
	margin-top: 3rem;
}

.collapse-menu {
	display: none;
}

@media (max-width: 1000px) {
	
	.collapse {
		display: none !important;
	}

	.collapse.uncollapse {
		display: block !important;
		width: 100%;
	}
	
	.collapse-menu {
		display: block;
	}
}



/*----------------------------------------------------------------------------*/

/* Footer: */


footer {
	color: var(--color-fg-topbar);
	background-color: var(--color-bg-topbar);
	width: 100%;
	
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: wrap;
	
	font-size: 20px;
	
	z-index: 99;
}

footer a {
	color: var(--color-fg-topbar);
	background-color: var(--color-bg-topbar);
	
	margin: 4px 0px 4px 16px;
}

footer a:hover {
	color: var(--color-fg-topbar);
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
}

footer a:active {
	color: var(--color-bg-primary-active);
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
}



/*----------------------------------------------------------------------------*/

/* No scroll: */


header.no-scroll {
	position: relative;
}

div.no-scroll {
	height: calc(100% - 3.2rem - 2.2rem);
	margin: 0;
	overflow: hidden;
}


/*----------------------------------------------------------------------------*/

/* Links: */


.bold {
	font-weight: bold;
}



/*----------------------------------------------------------------------------*/

/* Links: */


a {
	color: var(--color-bg-primary);
	background-color: transparent;
	border: none;
	text-decoration: none;
	display: inline-block;
}

a:hover {
	color: var(--color-bg-primary-hover);
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
}

a:active {
	color: var(--color-bg-primary-active);
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-thickness: 2px;
}

a:disabled {
	color: var(--color-fg-faint);
}



/*----------------------------------------------------------------------------*/

/* Other inputs: */


a.button {
	color: var(--color-fg-regular);
	background-color: var(--color-bg-surface);
	border: none;
	padding: 12px 24px;
	text-align: center;
	display: inline-block;
	font-size: 24px;
}

input {
	color: var(--color-fg-regular);
	background-color: #00000000;
	border: 2px solid var(--color-fg-regular);
	padding: 8px 8px;
	display: block;
	font-size: 16px;
	width: 100%;
}

button, input[type=submit] {
	color: var(--color-fg-regular);
	background-color: #00000000;
	border: none;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 20px;
}

button.border, input[type=submit].border, .button.border {
	border: 2px solid var(--color-fg-regular);
}

button.primary, input[type=submit].primary, a.button.primary {
	color: var(--color-fg-primary);
	background-color: var(--color-bg-primary);
}

button.danger, input[type=submit].danger, a.button.danger {
	color: var(--color-fg-danger);
	background-color: var(--color-bg-danger);
}

button.disabled, .button.disabled {
	pointer-events: none;
	color: var(--color-fg-faint);
}

label {
	display: block;
	padding: 8px 0px;
}

textarea {
	color: var(--color-fg-regular);
	background-color: #00000000;
	border: 2px solid var(--color-fg-regular);
	
	display: block;
	width: 100%;
	resize: vertical;
}

select {
	display: block;
	width: 100%;
}



/*----------------------------------------------------------------------------*/

/* Selection effects: */


button:hover, input:hover, a.button:hover {
	background-color: var(--color-bg-surface-hover);
	text-decoration: none;
}

button:active, input:active, a.button:active {
	background-color: var(--color-bg-surface-active);
	text-decoration: none;
}

button.disabled, input.disabled, a.button:disabled, label.disabled {
	color: var(--color-fg-faint);
	text-decoration: none;
}

button.primary:hover, input.primary:hover, a.button.primary:hover {
	background-color: var(--color-bg-primary-hover);
	text-decoration: none;
}

button.primary:active, input.primary:active, a.button.primary:active {
	background-color: var(--color-bg-primary-active);
	text-decoration: none;
}

button.danger:hover, input.danger:hover, a.button.danger:hover {
	background-color: var(--color-bg-danger-hover);
	text-decoration: none;
}

button.danger:active, input.danger:active, a.button.danger:active {
	background-color: var(--color-bg-danger-active);
	text-decoration: none;
}



/*----------------------------------------------------------------------------*/

/* Select tag : */


select {
	display: block;
	
	font-size: 20px;
	
	color: var(--color-fg-regular);
	background-color: #00000000;
	
	padding: 12px 32px 12px 12px;
	
	width: 100%;
	margin: 0;
	
	border: 2px solid var(--color-fg-regular);
	
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	
	background-image: url("/angle-down-solid-regular.png");
	background-repeat: no-repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto;
}

select:hover {
	background-color: var(--color-bg-surface-hover);
}

select:active {
	background-color: var(--color-bg-surface-active);
}


select.primary {
	color: var(--color-fg-primary);
	background-color: var(--color-bg-primary);
	border: none;
	background-image: url("/angle-down-solid-primary-light.png");
}

select.primary:hover {
	color: var(--color-fg-primary);
	background-color: var(--color-bg-primary-hover);
}

select.primary:active {
	color: var(--color-fg-primary);
	background-color: var(--color-bg-primary-active);
}

select option {
	font-weight:normal;
}



/*----------------------------------------------------------------------------*/

/* Other : */


hr {
	border-color: var(--color-fg-regular);
	margin-top: 24px;
	margin-bottom: 32px;
}

canvas {
	display: block;
}

.badge {
	color: var(--color-fg-regular);
	background-color: var(--color-bg-surface-hover);
	padding: 2px 4px;
	margin: auto 8px;
}



/*----------------------------------------------------------------------------*/

/* Margins : */

.margin-auto {
	margin: auto;
}

.margin-16 {
	margin: 16px;
}

.margin-8 {
	margin: 8px;
}

.margin-horizontal-16 {
	margin-left: 16px;
	margin-right: 16px;
}

.margin-vertical-16 {
	margin-top: 16px;
	margin-bottom: 16px;
}

.margin-vertical-8 {
	margin-top: 8px;
	margin-bottom: 8px;
}

.margin-left-32 {
	margin-left: 32px;
}

.margin-left-24 {
	margin-left: 24px;
}

.margin-left-16 {
	margin-left: 16px;
}

.margin-left-8 {
	margin-left: 8px;
}

.margin-right-32 {
	margin-right: 32px;
}

.margin-right-24 {
	margin-right: 24px;
}

.margin-right-16 {
	margin-right: 16px;
}

.margin-right-8 {
	margin-right: 8px;
}

.margin-right-4 {
	margin-right: 4px;
}

.margin-top-32 {
	margin-top: 32px;
}

.margin-top-24 {
	margin-top: 24px;
}

.margin-top-16 {
	margin-top: 16px;
}

.margin-top-8 {
	margin-top: 8px;
}

.margin-bottom-32 {
	margin-bottom: 32px;
}

.margin-bottom-24 {
	margin-bottom: 24px;
}

.margin-bottom-16 {
	margin-bottom: 16px;
}

.margin-bottom-8 {
	margin-bottom: 8px;
}



/*----------------------------------------------------------------------------*/

/* ... : */


.w100 {
	width: 100%;
}


/******************************************************************************/

#topicChangesTable {
	border-collapse: collapse;
}

#topicChangesTable th, #topicChangesTable td {
	border: 1px solid #000;
	padding: 5px;
}

/******************************************************************************/

.mw-120 {
	max-width: 320px;
}


.inline-block {
	display: inline-block;
}

.block {
	display: block;
}